<div class="card">
  <div class="text-center py-4 align-center">
    <img src="https://avatars.githubusercontent.com/u/46262107?s=400&u=e1cdca31211006011c3967789b3640d66860c6a4&v=4" width="100px">
    <h3>Kabir Pathak</h3>
  </div>
  <div class="m-auto para p-2 text-center mb-3">
    <p>
      Hi, I'm Kabir. I'm an FSD @<b>eLitmus</b> and I love coding!
    </p>
    <p>
      My weapons of choice are <b>Ruby on Rails</b> and <b>React.js</b> when it comes to development,<br />
      and I use <b>Java</b> for Competitive Programming. Other than these three, I'm also quite proficient in C++ and Python.
    </p>
  </div>
  <div class="border-bottom p-3">
    <div class="d-flex justify-content-around w-100">
      <a href="https://www.github.com/kabirpathak">
        <i class="fa fa-3x fa-brands fa-github gradient-start"></i>
      </a>
      <a href="https://www.stackoverflow.com/kabirpathak">
        <i class="fa-3x fab fa-stack-overflow gradient-start"></i>
      </a>
      <a href="https://www.linkedin.com/kabirpathak">
        <i class="fa-3x fab fa-linkedin gradient-end"></i>
      </a>
      <a href="https://www.instagram.com/kabirpathak">
        <i class="fa-3x fab fa-instagram gradient-end"></i>
      </a>
    </div>
  </div>
  <div class="m-auto para p-2 text-left my-3">
    <p>
      This website/project began as a new year resolution. I wanted to create a portfolio website that was worthy of being hosted.
    </p>
    <p>
      I wanted to create something from scratch and take it to the final (not exactly though) step of deployment. 
      I hope that in the current state, you like what you see on this website. 
    </p>

    <p>
      Like I mentioned above, React.js and RoR have been used in creating this website. The code for this website can be found 
      <a href="https://www.github.com/kabirpathak/_kabirpathak_">here</a>.
    <p>

    <p>
      This is the only page on this website that is 100% static. I've done this because I saw no use in storing this information in the database and then fetching it.
      So, if you would like to create a similar website for yourself, but don't want to start from scratch, all you need to do is clone the repo and change the current page.
    </p>
  </div>
</div>