  <nav class="navbar navbar-light navbar-custom bg-primary">
    <a class="navbar-brand" href="/blogs">
      <div width="30" height="30" class="px-2 d-inline-block align-top text-white" alt="">
      Kabir Pathak
      </div>
    </a>

    <span class="d-flex flex-row">
      <a href="/blogs" class="nav-link text-white">
        <span class="fa fa-blog"></span> Blogs
      </a>

      <a href="/about" class="nav-link text-white">
        <span class="fa fa-person"></span> About
      </a>

      <%# <a href="/blogs" class="nav-link text-white">
        <span class="fa fa-work"></span> Recent Projects
      </a>

      <a href="/blogs" class="nav-link text-white">
        <span class="fa fa-gallery"></span> Gallery
      </a> %>
    </span>
  </nav>