
  

<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar-custom">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-2 pt-2 text-white min-vh-100">

    <ul class="nav w-100 nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="w-100"><a href="/blogs" class="nav-link text-white px-0">Blogs</a></li>
      <li class="w-100"><a href="/projects" class="nav-link text-white px-0">Recent Projects</a></li>
      <li class="w-100"><a href="/collections" class="nav-link text-white px-0">Photos/Videos</a></li>
      <li class="w-100"><a href="/about" class="nav-link text-light px-0">About Me</a></li>
    </ul>
  </div>
</div>